/* General */
@font-face {
  font-family: "semibold-lexend";
  src: url(../src/font/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: "medium-lexend";
  src: url(../src/font/Lexend-Medium.ttf);
}
@font-face {
  font-family: "regular-lexend";
  src: url(../src/font/Lexend-Regular.ttf);
}
@font-face {
  font-family: "bold-lexend";
  src: url(../src/font/Lexend-Bold.ttf);
}
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: -990px;
}
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
::selection {
  color: rgb(131, 164, 149);
  background: rgb(247, 248, 253);
}
html{
  font-size: 62.5%;
}
body{
  direction: ltr;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
::placeholder{
  color: #888B97;
  font-family: "medium-lexend";
  font-size: 1.25rem;
}
@media only screen and (max-width: 495px){
  .Hero ::placeholder{
      font-size: 1rem !important;
  }}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* Background - Effects */

.background_blur1 {
  position: relative;
  top: -102px;
  left: -173px;
  width: 438px;
  height: 494px;
  background: radial-gradient(circle, #82F7FF, rgba(255, 255, 255, 0));
  filter: blur(90px);
  z-index: -1;
  border-bottom-right-radius: 1000px;
}
.background_blur2 {
  position: relative;
  top: -552px;
  left: 100px;
  width: 494px;
  height: 494px;
  background: radial-gradient(circle, #82FFD2, rgba(255, 255, 255, 0));
  filter: blur(150px);
  z-index: -1;
  border-bottom-right-radius: 2000px;
}
.background_blur3 {
  float: right;
  position: relative;
  top: -2102px;
  width: 438px;
  height: 494px;
  background: radial-gradient(circle, #FF9882, rgba(255, 255, 255, 0));
  filter: blur(120px);
  z-index: -1;
  border-bottom-right-radius: 1000px;
}
.background_blur4 {
  float: right;
  position: relative;
  top: -1982px;
  right: -740px;
  width: 494px;
  height: 494px;
  background: radial-gradient(circle, #FFFA82, rgba(255, 255, 255, 0));
  filter: blur(140px);
  z-index: -1;
  border-bottom-right-radius: 2000px;
}
@media (max-width: 931px) {
  .background_blur4  {
  top: -2702px;
  right: -300px;
  }
}
@media (max-width: 775px) {
  .background_blur3  {
    top: -3302px;
    }
  .background_blur4  {
  top: -3702px;
  }
}
@media (max-width: 400px) {
  .background_blur3  {
    top: -2502px;
    }
  .background_blur4  {
  top: -2702px;
  }
}
/* Hero */
.Hero{
  width: inherit;
  min-height: 720px;
}
@media (max-width: 525px) {
  .swiper  {
    margin-right: 50px !important;
  }
}
.Hero.Houses{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* badge setup */

.popular{
  color: #EF4444;
  background-color: #FEE2E2;
  padding: 4px;

}
.new_house{
  color: #1D4ED8;
  background-color: #DBEAFE;
  padding: 4px;

}
.best_deals{
  color: #047857;
  background-color: #D1FAE5;
  padding: 4px;

}
.star{
  color: #782d04;
  background-color: #f3fad1;
  padding: 4px;
}
/* Titles of Sections */
.onTitle{
  display: flex;
  align-items: center;
}
.onTitle_text{
  color: #F59E0B;
  font-family: "medium-lexend";
}
.onTitle_line{
  border: 0.5px solid #F59E0B;
  width: 32px;
  margin: 0 !important;
  margin-right: 8px !important;
}
.Title_info{
  align-self: flex-start;
}
.sec_info{
  color: #1B1C57;
  font-family: "semibold-lexend";
  font-size: 32px;
  margin: 0 !important;
  margin-left: 38px !important;
  margin-right: 35px !important;

  max-width: fit-content;
}
.sec_description{
  margin-left: 38px !important;
  margin-right: 40px;
  color: #626687;
  font-family: "regular-lexend";
  font-weight: 100;
  font-size: 16px;
  max-width: 420px;
  line-height: 28px;
  filter: opacity(0.75);
}
/* Grid House Details */
.House-grid-container{
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(3, 80px);
  max-width: fit-content;
}
.House-item {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
}
.House-item .item-pic{
  filter: opacity(80%);
  margin-right: 20px;
}
.item-name{
  color: #3C4563;
  font-family: "medium-lexend";
}
.House-item:nth-child(2),.House-item:nth-child(4){
    margin-left: 80px;
}
/* Center the fifth item */
.House-item:nth-child(5) {
  grid-column: 1 / span 2;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}
  .House-item:nth-child(5) .item-pic{
    margin-right: 5px;
  }

  @media (max-width: 570px) {
    .House-grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto; 
      gap: 30px; 
      margin-top: 20px;
    }
    .House-item:nth-child(2),.House-item:nth-child(4){
      margin-left: 0;
  }
    .House-item {
      justify-content: left; 
      margin-left: 0; 
    }
  
    .House-item:nth-child(5) {
      grid-column: 1 / span 1;
      justify-content: center;
      align-items: center;
    }
  }
/* Why Us Section */
.Why-US{
  margin-top: 120px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.slide-cont{
  width: 100%;
  max-width: 1556px;
}

.swiper-pagination-bullet{
  background-color: #131113 !important;
}
.swiper-pagination-bullet-active{
background-color: #3C4563 !important;
}
.swiper-pagination-vertical{
  background-color: #ccd2d0;
  padding: 0px 6px;
  border-radius: 40px;
}
@media (max-width: 1200px) {  
  .Title_info.whyus{
    align-self: center ;
    text-align: center;
  }
  .slide-cont{
    display: flex;
    flex-direction: column;
  }
}
.onTitle.whyus{
  flex-direction: column;
}
.onTitle_text.whyus{
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
}
.sec_info.whyus{
  margin-top: 12px !important;
}
/* House Selection  */
.container.houseselection{
  margin-top: 0;
}
.house-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 350px;
  transition: transform 0.3s ease;
}

.house-card:hover {
  transform: scale(1.05);
}

.house-card-image {
  width: 100%;
  object-fit: cover;
}

.house-card-content {
  padding: 16px;
}

.house-card-content h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.house-card-content p {
  margin: 5px 0;
  color: #666;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #000;
}

.house-details p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.house-owner {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.owner-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.house-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}