.slide-container {
  max-width: 1420px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 35px;
  background-color: #fff;
  border-right: 1px solid rgba(138, 138, 138, 0.276);

}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff00;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ffffff00;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #ffffff;
}

.card-image {
  position: relative;
  height: 300px;
  width: 250px;
  border-radius: 10%;
  padding: 5px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8%;
}
.badge{
    margin-top: -40px;
    margin-left: 15px;
    font-size: 14px;
}
.badge>.badge_text{
    padding: 4px 16px;
    border-radius: 32px;
}
.badge>.popular{
    color: #EF4444;
    background-color: #FEE2E2;
}
.badge>.new_house{
    color: #1D4ED8;
    background-color: #DBEAFE;
}
.badge>.best_deals{
    color: #047857;
    background-color: #D1FAE5;
}
.badge>.star{
    color: #782d04;
    background-color: #f3fad1;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.price{
    color: #3C4563;
    font-size: 20px;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.ownerinfo{
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    line-height: 0.7;
}
.owner_name{
    color: #0E1735;
    font-weight: 100;
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;

}
.owner_location{
    color: #888B97;
    font-size: 14px;
    text-align: left;
}
.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}


.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}