.Tour_container{
  display: flex;
}

.TourHouse_info{
  margin-left: 38px;
}
.TourHouse_title{
    color: #1B1C57;
    font-size: 16px;
    font-family: "medium-lexend";
}
.ownerinfo{
  margin-top: 32px;
  margin-left: 30px;
  margin-bottom: 40px;
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-evenly;
  line-height: 0.7;
  flex-wrap: wrap;
}
.owner_name{
  color: #0E1735;
  font-weight: 100;
  font-size: 18px;
  text-align: left;
  margin: 0;
  margin-bottom: 18px;
  font-family: "medium-lexend";
}
.owner_location{
  color: #888B97;
  font-size: 14px;
  text-align: center;

}
.contact{
  background-color: #10B981;
  padding: 13px;
  border-radius: 32px;
  color: white;
  font-family: "medium-lexend";
  margin-left: 19px;
  transition: all 0.75s;
  cursor: pointer;
}
.contact:hover{
  background-color: #047857;
}
@media (max-width: 570px) {
  .ownerinfo{
  width: auto;
  justify-content: flex-start;
  }
  .contact{
  margin-right: 37px;
  margin-top: 30px;
  }
  .owner_name,.owner_location{
    margin-left: 20px;
  }
}
/* Info section of house-tours */

.main_image_container {
  position: relative;
  z-index: -1;
  text-align: center;
}

.main_image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 50px;
}

.play_button {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.play_button::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid #333;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.sub_images_container {
  margin-top: -20px;
  display: flex;
  z-index: 1000;
  margin-left: 155px;
  gap: 20px;
}

.sub_image_item {
  border-radius: 10px;
  overflow: hidden;
  transition: 1s ease;
  cursor: pointer;
}
.sub_image_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.tour_desktop{
  border: 1px solid #cbd0e0;
  max-width: 480px;
  width: 100%;
  text-align: left;
  margin: 0 !important;
  margin-left: 35px;
  margin-right: 50px;
}
.desktop .sub_image_item.selected:nth-child(1){
  transform: scale(1.6) translatex(-50px) translateY(-40px);
}
.desktop .sub_image_item.selected:nth-child(2){
  transform: scale(1.2) translatex(0px) translateY(-80px);
}
.desktop .sub_image_item.selected:nth-child(3){
  transform: scale(1.2) translatex(0px) translateY(-80px);
}

.house_layout_container {
  max-width: 100%;
}
.house_layout_container.mobile{
  display: none;
}
.swiper_{
  width: 100%;
  height: 505px; 
  overflow:visible
}
.swiper_slide{
  width: 740px;
  height: 400px;
}
.slide_{
  width: 100%;
  height: 100%;
  position: relative;
}
.slide_img{
  width: 100%;
  height: 100%;
  object-Fit: cover;
}
.slide_text{
  position: absolute;
  bottom: -75px;
  left: 64px;
  right: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 78%;
}
.slide_title{
  color: #1B1C57;
  font-family: "medium-lexend";
  font-size: 20px;
}
.slide_description{
  color: #626687;
  font-family: "regular-lexend";
  line-height: 24px;
  font-size: 14px;
  filter: opacity(75%);
}
.info_{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.info_img{
  width: fit-content;
  border-radius: 50%;
  margin-right: 10px;
}
.info_authorName{
  margin: 0;
  color: #0E1735;
  font-family: "semibold-lexend";
  font-size: 14px;
}
.info_authorloc{
  margin: 0;
  margin-top: 4px;
  color: #888B97;
}
.rate_{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.rate_icon{
  color: #f1c40f;
  margin-right: 16px;
  font-size: 28px;
}
.rate_number{
  font-weight: bold;
  color: #2c3e50;
  font-size: 20px;
}
/* Responsive Design */
@media (max-width: 1200px) {
  .desktop .sub_image_item.selected:nth-child(1){
    transform: scale(1.6) translatex(-20px) translateY(-40px);
  }
.sub_images_container{
  flex-direction: row;
  margin-left: 65px;
  margin-right: 30px;
}
.sub_image_item{
  width: 40%;
}
.selected{
  transform: scale(1.6) translateY(-30px);
  cursor: pointer;
}
}
@media (max-width: 991px) {
.house_layout_container.desktop{
  display: none;
}
.house_layout_container.mobile{
  display: block;
  max-width: 80%;
}
.sub_images_container{
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 125px;

  justify-content: center;
}
.sub_image_item.selected:nth-child(1){
  transform: scale(1.6) translatex(-20px) translateY(-30px);
}
.sub_image_item.selected:nth-child(2){
  transform: scale(1.4) translatex(20px) translateY(-30px);
}
.sub_image_item.selected:nth-child(3){
  transform: scale(1.4) translatex(0) translateY(7px);
}
.tour_desktop{
  margin-top: 50px !important;
  margin-left: 55px !important;
  max-width: 70%;
}
}
@media (max-width:768px){
.sub_image_item.selected:nth-child(3){
  transform: scale(1.7) translatex(0) translateY(0px);
}
.main_image{
  margin-left: 0;
}
.sub_images_container{
  margin-left: 55px;
}
.tour_desktop{
  max-width: 60%;
}
}